@import "./mixins.scss";
@import "./vars.scss";

.App {
  font-family: sans-serif;
  text-align: center;
  position: relative;
  overflow-x: clip;
  @include layout-padding();
}

:root {
  --breakpoint_xs: 374px;
  --breakpoint_s: 480px;
  --breakpoint_m: 768px;
  --breakpoint_l: 992px;
  --breakpoint_xl: 1280px;
  --breakpoint_xxl: 1440px;
  --breakpoint_xxxl: 1690px;
  --breakpoint_full_hd: 1920px;
}
